<div class="messages">
  <div class="messages__head">
    <img class="messages__head-avatar"
      onerror="this.src='https://www.lightsong.net/wp-content/uploads/2020/12/blank-profile-circle.png'"
      src={{data.avatar}} alt="Аватар" />
    <p class="messages__head-title">{{data.title}}</p>
    {{{dots}}}
  </div>
  <div class="messages__content">
    <div class="messages__group">
      <time class="messages__group-date" datetime="2022-12-15">15 декабря 2022</time>
      <div class="messages__group-member-container">
        <p class="messages__group-member">
          Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в
          какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что
          астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны,
          так как астронавты с собой забрали только кассеты с пленкой.

          Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали.
          Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.
        </p>
        <time class="messages__group-member-date" datetime="20:00">20:00</time>
      </div>
      <div class="messages__group-user-container">
        <p class="messages__group-member">
          Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в
          какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что
          астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны,
          так как астронавты с собой забрали только кассеты с пленкой.

          Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали.
          Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.
        </p>
        <time class="messages__group-member-date" datetime="20:00">20:00</time>
      </div>
      <div class="messages__group-member-container">
        <p class="messages__group-member">
          Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в
          какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что
          астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны,
          так как астронавты с собой забрали только кассеты с пленкой.

          Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали.
          Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.
        </p>
        <time class="messages__group-member-date" datetime="20:00">20:00</time>
      </div>
    </div>
  </div>
  <div class="messages__footer">
    {{{clip}}}
    <span class="message-textarea" name="message" placeholder="Сообщение" role="textbox" contenteditable></span>
    {{{profile-arrow-right}}}
  </div>
</div>
