<form class="form" novalidate>
  <div class="group">
    {{{ input-login }}}
    {{{ input-error-login }}}
    <label class="label">Логин</label>
  </div>
  <div class="group">
    {{{ input-password }}}
    {{{ input-error-password }}}
    <label class="label">Пароль</label>
  </div>
  {{{ button }}}
  {{{ button-switch-page }}}
</form>
