<div>
  <div class="modal-add-delete-user">
    <button class="modal-add-delete-user__group">
      <span class="modal-add-delete-user__add-icon"></span>
      <p class="modal-add-delete-user__text">Добавить пользователя</p>
    </button>
    <button class="modal-add-delete-user__group">
      <span class="modal-add-delete-user__delete-icon"></span>
      <p class="modal-add-delete-user__text">Удалить пользователя</p>
    </button>
  </div>
  <div class="modal-clip">
    <button class="modal-clip__group">
      <img src="{{foto}}" alt="Иконка" />
      <p class="modal-add-delete-user__text">Фото или Видео</p>
    </button>
    <button class="modal-add-delete-user__group">
      <img src="{{file}}" alt="Иконка" />
      <p class="modal-add-delete-user__text">Файл</p>
    </button>
    <button class="modal-add-delete-user__group">
      <img src="{{location}}" alt="Иконка" />
      <p class="modal-add-delete-user__text">Локация</p>
    </button>
  </div>
  <div class="modal-profile-avatar">
    <div class="modal-profile-avatar__wrapper">
      <p class="modal-profile-avatar__title">Загрузите файл</p>
      <label class="modal-profile-avatar__label" for="file">Выбрать файл на компьютере</label>
      <input class="modal-profile-avatar__input" type="file" name="file" id="file" />
      <button class="modal-profile-avatar__button" type="button">
        Поменять
      </button>
    </div>
  </div>

  <div class="profile">
    <div class="profile__arrow">
      <img class="profile__arrow-img" src="{{arrowLeft}}" alt="Иконка" />
    </div>
    <form class="profile__form-data">
      <button type="button" class="profile__form-button-avatar">
        <img class="profile__form-avatar" src="{{avatar}}" alt="Иконка" />
        <span class="profile__form-avatar-text"> Поменять аватар </span>
      </button>
      <p class="profile__form-data-title">Иван</p>
      <div class="profile__form-data-input-wrapper">
        <label class="profile__label" for="email">Почта</label>
        <input class="profile__input" type="email" name="email" id="email" autocomplete="off" value="pochta@yandex.ru"
          disabled />
      </div>
      <div class="profile__form-data-input-wrapper">
        <label class="profile__label" for="login">Логин</label>
        <input class="profile__input" type="text" name="login" id="login" autocomplete="off" value="ivanivanov"
          disabled />
      </div>
      <div class="profile__form-data-input-wrapper">
        <label class="profile__label" for="first_name">Имя</label>
        <input class="profile__input" type="text" name="first_name" id="first_name" autocomplete="off" value="Иван"
          disabled />
      </div>
      <div class="profile__form-data-input-wrapper">
        <label class="profile__label" for="second_name">Фамилия</label>
        <input class="profile__input" type="text" name="second_name" id="second_name" autocomplete="off" value="Иванов"
          disabled />
      </div>
      <div class="profile__form-data-input-wrapper">
        <label class="profile__label" for="phone">Телефон</label>
        <input class="profile__input" type="tel" name="phone" id="phone" autocomplete="off" value="+7 (909) 967 30 30"
          disabled />
      </div>
      <div class="profile__form-data-buttons">
        <div class="profile__form-data-input-wrapper">
          <button class="profile__form-data-button" type="button">
            Изменить данные
          </button>
        </div>
        <div class="profile__form-data-input-wrapper">
          <button class="profile__form-data-button" type="button">
            Изменить пароль
          </button>
        </div>
        <button class="profile__form-data-button-exit" type="button">
          Выйти
        </button>
      </div>
    </form>
  </div>

  <main class="container">
    <nav class="nav">
      <div class="button-profile-container">
        <button class="button-profile" type="button">
          <span class="button-profile__text">Профиль</span>
          <span class="button-profile__arrow"></span>
        </button>
      </div>
      <div class="search">
        <input class="search__input" type="text" name="search" placeholder="Поиск" />
        <img class="search__icon" src="{{search}}" alt="Иконка" />
      </div>
      <ul class="list">
        <li class="list__item">
          <span class="list__divider"></span>
          <div class="list__item-inner">
            <img class="list__item-avatar"
              src="https://www.lightsong.net/wp-content/uploads/2020/12/blank-profile-circle.png" alt="Аватар" />
            <div class="list__item-text">
              <p class="list__item-title">Фирдаус Фирдаусович Фирдаусовов</p>
              <p class="list__item-subtitle">
                <span class="list__item-subtitle-you">Вы: </span>
                <span class="list__item-subtitle-text">Lorem ipsum dolor sit amet, consectetuer adipiscin. Aenean
                  commodo ligula eget dolor. Aenean massa.</span>
              </p>
            </div>
            <div class="list__item-time-counter">
              <span class="list__item-time">12:00</span>
              <span class="list__item-counter">99+</span>
            </div>
          </div>
        </li>
        <li class="list__item">
          <span class="list__divider"></span>
          <div class="list__item-inner">
            <img class="list__item-avatar"
              src="https://www.lightsong.net/wp-content/uploads/2020/12/blank-profile-circle.png" alt="Аватар" />
            <div class="list__item-text">
              <p class="list__item-title">Фирдаус Фирдаусович Фирдаусовов</p>
              <p class="list__item-subtitle">
                <span class="list__item-subtitle-you">Вы: </span>
                <span class="list__item-subtitle-text">Lorem ipsum dolor sit amet, consectetuer adipiscin. Aenean
                  commodo ligula eget dolor. Aenean massa.</span>
              </p>
            </div>
            <div class="list__item-time-counter">
              <span class="list__item-time">12:00</span>
              <span class="list__item-counter">99+</span>
            </div>
          </div>
        </li>
        <span class="list__divider"></span>
      </ul>
    </nav>
    <div class="messages">
      <div class="messages__head">
        <img class="messages__head-avatar"
          src="https://www.lightsong.net/wp-content/uploads/2020/12/blank-profile-circle.png" alt="Аватар" />
        <p class="messages__head-title">Вадим</p>
        <div class="dots">
          <svg width="3" height="16" viewBox="0 0 3 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="1.5" cy="2" r="1.5" fill="#1E1E1E" />
            <circle cx="1.5" cy="8" r="1.5" fill="#1E1E1E" />
            <circle cx="1.5" cy="14" r="1.5" fill="#1E1E1E" />
          </svg>
        </div>
      </div>
      <div class="messages__footer">
        <svg class="clip" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M6.18662 12.5L13.7628 4.92389L14.7056 5.8667L7.12943 13.4428L6.18662 12.5Z" fill="#999999" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M8.70067 15.0141L16.2768 7.43793L17.2196 8.38074L9.64348 15.9569L8.70067 15.0141Z" fill="#999999" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M14.0433 20.3567L21.6195 12.7806L22.5623 13.7234L14.9861 21.2995L14.0433 20.3567Z" fill="#999999" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M16.5574 22.8708L24.1335 15.2946L25.0763 16.2374L17.5002 23.8136L16.5574 22.8708Z" fill="#999999" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M16.5574 22.8709C13.9423 25.486 9.71181 25.4954 7.10831 22.8919C4.50482 20.2884 4.51424 16.0579 7.12936 13.4428L6.18655 12.5C3.0484 15.6381 3.0371 20.7148 6.16129 23.839C9.28549 26.9632 14.3621 26.9518 17.5003 23.8137L16.5574 22.8709Z"
            fill="#999999" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M21.6195 12.7806L22.5623 13.7234C25.003 11.2826 25.0118 7.3341 22.5819 4.90417C20.152 2.47424 16.2035 2.48303 13.7627 4.92381L14.7055 5.86662C16.6233 3.94887 19.7257 3.94196 21.6349 5.85119C23.5441 7.76042 23.5372 10.8628 21.6195 12.7806Z"
            fill="#999999" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M8.70092 15.0144C6.95751 16.7578 6.95123 19.5782 8.68689 21.3138C10.4226 23.0495 13.2429 23.0432 14.9863 21.2998L14.0435 20.357C12.8231 21.5774 10.8489 21.5818 9.63391 20.3668C8.41894 19.1518 8.42334 17.1776 9.64373 15.9572L8.70092 15.0144Z"
            fill="#999999" />
        </svg>
        <span class="message__textarea" name="message" placeholder="Сообщение" role="textbox" contenteditable></span>
        <img src="{{arrowRight}}" alt="Иконка" />
      </div>
    </div>
  </main>
</div>