<form class="profile__form-data" novalidate>
  {{{button-avatar}}}
  <p class="profile__form-data-title">Иван</p>
  <div class="profile-data">
    <div class="profile__form-data-input-wrapper">
      <label class="profile__label" for="email">Почта</label>
      {{{input-email}}}
    </div>
    {{{ input-error-email }}}
    <div class="profile__form-data-input-wrapper">
      <label class="profile__label" for="login">Логин</label>
      {{{input-login}}}
    </div>
    {{{input-error-login}}}
    <div class="profile__form-data-input-wrapper">
      <label class="profile__label" for="first_name">Имя</label>
      {{{input-first-name}}}
    </div>
    {{{input-error-first-name}}}
    <div class="profile__form-data-input-wrapper">
      <label class="profile__label" for="second_name">Фамилия</label>
      {{{input-second-name}}}
    </div>
    {{{input-error-second-name}}}
    <div class="profile__form-data-input-wrapper">
      <label class="profile__label" for="second_name">Имя в чате</label>
      {{{input-display-name}}}
    </div>
    {{{input-error-display-name}}}
    <div class="profile__form-data-input-wrapper">
      <label class="profile__label" for="phone">Телефон</label>
      {{{input-phone}}}
    </div>
    {{{ input-error-phone }}}
  </div>
  <div class="profile-passwords">
    <div class="profile__form-data-input-wrapper">
      <label class="profile__label" for="password-old">Старый пароль</label>
      {{{input-password-old}}}
    </div>
    {{{input-error-password-old}}}
    <div class="profile__form-data-input-wrapper">
      <label class="profile__label" for="password">Новый пароль</label>
      {{{input-password}}}
    </div>
    {{{input-error-password}}}
    <div class="profile__form-data-input-wrapper">
      <label class="profile__label" for="password-confirm">Повторите новый пароль</label>
      {{{input-password-confirm}}}
    </div>
    {{{input-error-password-confirm}}}
  </div>
  <div class="profile__form-data-buttons">
    {{{button-profile-1}}}
    {{{button-profile-2}}}
    {{{button-exit}}}
    {{{button}}}
  </div>
</form>
