<div>
  {{!--start modals --}}
  <div class="modal-add-delete-user">
    <button class="modal-add-delete-user__group">
      <span class="modal-add-delete-user__add-icon"></span>
      <p class="modal-add-delete-user__text">Добавить пользователя</p>
    </button>
    <button class="modal-add-delete-user__group">
      <span class="modal-add-delete-user__delete-icon"></span>
      <p class="modal-add-delete-user__text">Удалить пользователя</p>
    </button>
  </div>
  <div class="modal-clip">
    <button class="modal-clip__group">
      <img src="{{foto}}" alt="Иконка" />
      <p class="modal-add-delete-user__text">Фото или Видео</p>
    </button>
    <button class="modal-add-delete-user__group">
      <img src="{{file}}" alt="Иконка" />
      <p class="modal-add-delete-user__text">Файл</p>
    </button>
    <button class="modal-add-delete-user__group">
      <img src="{{location}}" alt="Иконка" />
      <p class="modal-add-delete-user__text">Локация</p>
    </button>
  </div>
  <div class="modal-profile-avatar">
    <div class="modal-profile-avatar__wrapper">
      <p class="modal-profile-avatar__title">Загрузите файл</p>
      <label class="modal-profile-avatar__label" for="file">Выбрать файл на компьютере</label>
      <input class="modal-profile-avatar__input" type="file" name="file" id="file" />
      <button class="modal-profile-avatar__button" type="button">
        Поменять
      </button>
    </div>
  </div>
  {{!--end modals --}}

  {{!--start profile --}}
  <div class="profile">
    <div class="profile__arrow">
      <img class="profile__arrow-img" src="{{arrowLeft}}" alt="Иконка" />
    </div>
    <form class="profile__form-data">
      <button type="button" class="profile__form-button-avatar">
        <img class="profile__form-avatar" src="{{avatar}}" alt="Иконка" />
        <span class="profile__form-avatar-text"> Поменять аватар </span>
      </button>
      <p class="profile__form-data-title">Иван</p>
      <div class="profile__form-data-input-wrapper">
        <label class="profile__label" for="email">Почта</label>
        <input class="profile__input" type="email" name="email" id="email" autocomplete="off" value="pochta@yandex.ru"
          disabled />
      </div>
      <div class="profile__form-data-input-wrapper">
        <label class="profile__label" for="login">Логин</label>
        <input class="profile__input" type="text" name="login" id="login" autocomplete="off" value="ivanivanov"
          disabled />
      </div>
      <div class="profile__form-data-input-wrapper">
        <label class="profile__label" for="first_name">Имя</label>
        <input class="profile__input" type="text" name="first_name" id="first_name" autocomplete="off" value="Иван"
          disabled />
      </div>
      <div class="profile__form-data-input-wrapper">
        <label class="profile__label" for="second_name">Фамилия</label>
        <input class="profile__input" type="text" name="second_name" id="second_name" autocomplete="off" value="Иванов"
          disabled />
      </div>
      <div class="profile__form-data-input-wrapper">
        <label class="profile__label" for="phone">Телефон</label>
        <input class="profile__input" type="tel" name="phone" id="phone" autocomplete="off" value="+7 (909) 967 30 30"
          disabled />
      </div>
      <div class="profile__form-data-buttons">
        {{{button-profile-1}}}
        {{{button-profile-2}}}
        {{{button-exit}}}
        {{{button}}}
      </div>
    </form>
  </div>
  {{!--end profile --}}

  {{!--start chats --}}
  <main class="container">
    <nav class="nav">
      <div class="button-profile-container">
        <button class="button-profile" type="button">
          <span class="button-profile__text">Профиль</span>
          <span class="button-profile__arrow"></span>
        </button>
      </div>
      <div class="search">
        <input class="search__input" type="text" name="search" placeholder="Поиск" />
        <img class="search__icon" src="{{search}}" alt="Иконка" />
      </div>
      <ul class="list">
        <span class="list__divider"></span>
      </ul>
    </nav>
    <div class="messages">
      <div class="messages__head">
        <img class="messages__head-avatar"
          src="https://www.lightsong.net/wp-content/uploads/2020/12/blank-profile-circle.png" alt="Аватар" />
        <p class="messages__head-title">Вадим</p>
        {{{dots}}}
      </div>
      <div class="messages__footer">
        {{{clip}}}
        <span class="message-textarea" name="message" placeholder="Сообщение" role="textbox" contenteditable></span>
        <img class="message-arrowRight" src="{{arrowRight}}" alt="Иконка" />
      </div>
    </div>
  </main>
  {{!--end chats --}}
</div>