<div>
  {{{modal-add-delete-user}}}
  {{{modal-clip}}}
  {{{modal-users}}}
  {{{modal-edit}}}
  <main class="container">
    <nav class="nav">
      <div class="button-profile-container">
        {{{button-edit}}}
        {{{button-open-profile}}}
      </div>
      <div class="search">
        {{{input-search}}}
        <img class="search__icon" src="{{search}}" alt="Иконка" />
        {{{button-search}}}
      </div>
      {{{list-chats}}}
    </nav>
    {{!-- {{{empty-messages}}} --}}
    {{{messages}}}
  </main>
</div>
